In [ ]:
Student={}

StudentName=['a','b','c','d','e']
StudentMark=[10,20,30,50,50]
Birthyear=(2001,2005,1998,1995,1932)
StudentID=('L1','L2','L3','L4','L5')
StudentAge=[]

date=int(2022)
birthyear=[2001,2005,1998,1995,1932]
L=len(Birthyear)
for i in range (0,L):
  x=date-int(birthyear[i])
  StudentAge.append(x)

Student['Name']=StudentName
Student['Mark']=StudentMark
Student['Birthyear']=Birthyear
Student['ID']=StudentID
Student['Age']=StudentAge

print(Student)

{'Name': ['a', 'b', 'c', 'd', 'e'], 'Mark': [10, 20, 30, 50, 50], 'Birthyear': (2001, 2005, 1998, 1995, 1932), 'ID': ('L1', 'L2', 'L3', 'L4', 'L5'), 'Age': [21, 17, 24, 27, 90]}

In [ ]:
Student={}

Student['Name']=['a','b','c','d','e']
Student['Mark']=[10,20,30,50,50]
Student['Birthyear']=(2001,2005,1998,1995,1932)
Student['ID']=('L1','L2','L3','L4','L5')
Student['age']=
for i in range (0,L):
  
#Student['Name']=StudentName
#Student['Mark']=StudentMark
#Student['Birthyear']=Birthyear
#'Student['ID']=StudentID
print(Student)

SyntaxError: ignored

In [ ]:
Age=[]
date=int(2022)
birthyear=[2001,2005,1998,1995,1932]
L=len(Birthyear)
for i in range (0,L):
  x=date-int(birthyear[i])
  Age.append(x)
print(Age)
  #print(Birthyear[i])

[21, 17, 24, 27, 90]

.

Sum of () in list

In [ ]:
Student={}

StudentName=['a','b','c','d','e']
StudentMark=[10,20,30,50,50]
Birthyear=(2001,2005,1998,1995,1932)
StudentID=('L1','L2','L3','L4','L5')
StudentAge=[]

date=int(2022)
birthyear=[2001,2005,1998,1995,1932]
L=len(Birthyear)
for i in range (0,L):
  x=date-int(birthyear[i])
  StudentAge.append(x)

Student['Name']=StudentName
Student['Mark']=StudentMark
Student['Birthyear']=Birthyear
Student['ID']=StudentID
Student['Age']=StudentAge

#print(Student)
TotalMark=0
for i in range (0,L):
  TotalMark= TotalMark+StudentMark[i]
print(TotalMark)

print('total mark=',sum(StudentMark),'\nMin mark=',min(StudentMark),'\nMax mark=',max(StudentMark))

160
total mark= 160
Min mark= 10
Max mark= 50